# Core Orcha runtime dependencies
sqlalchemy>=2,<3
psycopg[binary]>=3,<4
pydantic
croniter
pandas>=2.0,<3.0

# API and supporting integrations used by Orcha core modules
uvicorn
fastapi
requests
pysmb
openpyxl
pymssql
msal

# Reflex UI
reflex
plotly

alembic