/* Run status slice tooltips (used by run_slices.py hover cards) */
.c-tooltip {
    position: relative;
    display: inline-block;
}

.c-tooltip .c-tooltiptext {
    visibility: hidden;
    width: 280px;
    background-color: darkslategray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 9000;
    top: 150%;
    left: 50%;
    margin-left: -270px;
}

.c-tooltip .c-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 270px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.c-tooltiptext p {
    margin: 0;
}

.c-tooltip:hover .c-tooltiptext {
    visibility: visible;
}
